<h1>Usagebox-Consent</h1>
Do you want to give us all your private data?
<div class="mydiv">
  <ul>
    <li>
      <a href="com.vorwerk.cookidoo://notification/toast?body=user%20consent%20given">Agree</a>
    </li>
    <li>
      <a href="com.vorwerk.cookidoo://notification/toast?body=user%20consent%20not%20given">
        Disagree
      </a>
    </li>
  </ul>
</div>
