<h1>DATA USAGE</h1>
<div class="mydiv">
  <ul>
    <li><a href="com.vorwerk.cookidoo://navigation/search?query=dummy">Search</a></li>
    <li><a href="data_usage.html">Data Usage</a></li>
    <li><a href="privacy_policy.html">Privacy Policy</a></li>
    <li><a href="explore.html">Explore</a></li>
    <li><a href="planner.html">Planner</a></li>
  </ul>
</div>
